@import "tailwindcss";

@theme {
  /* neutral */
  --color-background-primary: #00457D;
  --color-background-secondary: #05051F;
  --color-blue-void: #01080E;

  /* primary */
  --color-violet-primary: #4463D5;

  /* secondary */
  --color-violet-secondary: #4463D5;
  --color-white-text: #FFFFFF;

}

* {
    font-family: "Montserrat", sans-serif;
}